# =========================
# Miscellaneous
# =========================
*.class
*.log
*.pyc
*.swp
.DS_Store
Thumbs.db
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# =========================
# IntelliJ / Android Studio
# =========================
*.iml
*.ipr
*.iws
.idea/

# =========================
# VS Code
# =========================
.vscode/

# =========================
# Flutter / Dart / Pub
# =========================
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
coverage/
**/doc/api/
**/ios/Flutter/.last_build_id

# =========================
# Android
# =========================
android/.gradle/
android/build/
android/app/build/
android/local.properties

# Android Studio build outputs
/android/app/debug
/android/app/profile
/android/app/release

# APK / App Bundles
*.apk
*.aab

# =========================
# Signing / Keystore / Secrets (CRÍTICO)
# =========================
*.jks
*.keystore
*.p12
key.properties
keystore.properties
signing.properties

# =========================
# Google / Firebase / Ads
# =========================
google-services.json
GoogleService-Info.plist

# =========================
# Symbolication / Obfuscation
# =========================
app.*.symbols
app.*.map.json
mapping.txt

# =========================
# iOS (por si el día de mañana)
# =========================
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/App.framework
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh
